<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover, shrink-to-fit=no" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta name="theme-color" content="#4188c9" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <link rel="icon" href="/favicon.ico?2" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?2" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/css/dashboard.css?3" />
    <title>{block name="title"}Title{/block}</title>
    <style>
    .toast {
        text-align: center;
    }
    .toast-mask {
        position: fixed; z-index: 2456;
        left: 0;top: 0;right: 0;bottom: 0;
        background: rgba(0, 0, 0, 0.6);
    }
    .toast-body {
        position: fixed;
        z-index: 5000;
        width: 80%;
        max-width: 300px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color: #FFFFFF;
        text-align: center;
        border-radius: 3px;
        overflow: hidden;
    }
    .toast-icon {
        padding: 1rem;
        min-height: 40px;
        line-height: 1.3;
    }
    .toast-icon i {
        font-size: 5rem;
    }
    .toast-message {
        word-wrap: break-word;
        word-break: break-all;
        font-size: 1.1rem;
    }
    .dropdown-menu {
        z-index: 2200;
    }
    </style>
    {block name="style"}{/block}
</head>

<body>
<!-- content -->
<div class="page">
    <div class="page-main">
        <div class="header py-4">
            <div class="container">
                <div class="d-flex">
                    <a class="header-brand" href="/admin.html"><img src="/static/image/logo.png" class="header-brand-img" alt="tabler logo"></a>
                    <div class="d-flex order-lg-2 ml-auto">
                        <div class="nav-item">
                            <a href="/signin.html" class="btn btn-sm btn-outline-primary">返回前台</a>
                        </div>
                        <div class="dropdown">
                            <a class="nav-link pr-0 leading-none">
                                <span class="avatar me-avatar" style="background-image: url(/static/image/icon.png);"><span class="avatar-status bg-green"></span></span>
                                <span class="ml-2 d-none d-lg-block">
                                    {notempty name="$Think.session.manager"}
                                        <span class="text-default">{$Think.session.manager.username}</span>
                                    {else /}
                                        <span class="text-default">超级管理员</span>
                                    {/notempty}
                                    <small class="text-muted d-block mt-1">{:$Request.ip}</small>
                                </span>
                            </a>
                        </div>
                    </div>
                    <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                        <span class="header-toggler-icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 ml-auto header-search-div">
                        <form class="input-icon my-3 my-lg-0" method="get" action="/admin/account/edit.html">
                            <input type="search" class="form-control header-search" placeholder="用户账号&hellip;" tabindex="1" name="username" />
                            <div class="input-icon-addon">
                                <i class="fe fe-search"></i>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg order-lg-first">
                        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                            {php}
                                foreach (session('roles') as $role) {
                                    if ($role['type'] == 1 && (session('?staff') || in_array($role['id'], session('power_id')))) {
                                        echo '<li class="nav-item">';
                                            if (empty($role['path'])) {
                                                echo '<a class="nav-link" data-toggle="dropdown"><i class="' . $role['icon'] . '"></i>' . $role['name'] . '</a>';
                                            } else {
                                                echo '<a href="' . $role['path'] . '.html" class="nav-link"><i class="' . $role['icon'] . '"></i>' . $role['name'] . '</a>';
                                            }
                                            $start = false;
                                            foreach (session('roles') as $_key => $_role) {
                                                if ($_role['parent'] == $role['id'] && $_role['type'] == 2 && (session('?staff') || in_array($_role['id'], session('power_id')))) {
                                                    if (empty($start)) {
                                                        echo '<div class="dropdown-menu dropdown-menu-arrow">';
                                                        $start = true;
                                                    }
                                                    echo '<a href="' . $_role['path'] . '.html" class="dropdown-item">' . $_role['name'] . '</a>';
                                                }
                                                if (!empty($start) && $_key == count(session('roles'))) {
                                                    echo '</div>';
                                                }
                                            }
                                        echo '</li>';
                                    }
                                }
                            {/php}
                            {notempty name="Think.session.staff"}
                            <li class="nav-item">
                                <a href="javascript:;" class="nav-link" data-toggle="dropdown"><i class="fe fe-settings"></i>系统</a>
                                <div class="dropdown-menu dropdown-menu-arrow">
                                    <a href="/admin/staff/index.html" class="dropdown-item">管理员列表</a>
                                    <a href="/admin/staff/role.html" class="dropdown-item">节点列表</a>
                                    <a href="/admin/staff/logs.html" class="dropdown-item">操作日志</a>
                                </div>
                            </li>
                            {/notempty}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-3 my-md-5">
            <div class="container container-padding">
                {block name="container"}{/block}
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-auto ml-lg-auto">
                    <div class="row align-items-center">{$Think.now}</div>
                </div>
                <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                    Copyright © 2018 <a href=".">{$Think.config.hello.title}</a>. All rights reserved.
                </div>
            </div>
        </div>
    </footer>
</div>
<div hidden><script src="https://s13.cnzz.com/z_stat.php?id=1273772622&web_id=1273772622" language="JavaScript"></script></div>
<script type="text/javascript" src="/assets/js/require.min.js"></script>
<script type="text/javascript" src="/static/js/global.js?3"></script>
{block name="script"}{/block}
</body>
</html>