{extend name="common/world"}
{block name="title"}BOSS{/block}
{block name="style"}{/block}
{block name="container"}
<div class="btn-list mb-3">
	{if staff('/admin/boss/config') }
	<a href="#" class="btn btn-success float-right" data-toggle="modal" data-target="#modal-config">配置设置</a>
	{/if}
</div>
<form method="get" class="">
	<div class="row">
		<div class="col-md-6 col-lg-3 mb-3">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">用户账号</span>
				</div>
				<input type="text" class="form-control" name="username" value="{$Think.get.username}" maxlength="11" />
			</div>
		</div>
		<div class="col-lg-2 mb-3">
			<button class="btn btn-primary w-100" type="submit">立即查询</button>
		</div>
	</div>
</form>
<div class="card">
	<div class="table-responsive">
	    <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
	        <thead>
	            <tr>
	            	<th class="text-center w-1"><i class="fe fe-people"></i></th>
	                <th>账号</th>
	                <th>状态</th>
	                <th>金额</th>
	                <th>算力</th>
	                <th>权重</th>
	                <th>等级</th>
	                <th>地址</th>
	                <th>时间</th>
	                <th>操作</th>
	            </tr>
	        </thead>
	        <tbody>
	        	{volist name="users" id="user"}
	        		<tr>
	        			<td class="text-center">
		                    <div class="avatar d-block" style="background-image: url({:avatar($user.avatar, $user.idcard)})"></div>
		                </td>
		                <td>
		                    <div>{$user.realname}</div>
		                    <div class="small text-muted">{$user.username}</div>
		                </td>
		                <td>
		                	{switch $user.status}
		                		{case 0}<div class="tag">隐藏</div>{/case}
		                		{case 1}<div class="tag tag-success">正常</div>{/case}
		                		{case 2}<div class="tag tag-warning">审核</div>{/case}
		                		{case 3}<div class="tag tag-danger">拒绝</div>{/case}
		                	{/switch}
		                </td>
		                <td>{$user.money|money}</td>
		                <td>{$user.power|money}</td>
		                <td>{$user.weight|money}</td>
		                <td>
		                	{if array_key_exists('lv3', $config) && $user.weight > $config['lv3']}
		                		<span class="tag tag-secondary">黑金</span>
		                	{elseif array_key_exists('lv2', $config) && $user.weight > $config['lv2'] /}
		                		<span class="tag tag-secondary">黄金</span>
		                	{elseif array_key_exists('lv1', $config) && $user.weight > $config['lv1'] /}
		                		<span class="tag tag-secondary">白银</span>
		                	{/if}
		                </td>
		                <td>{$user.province_name}</td>
		                <td>{$user.create_at}</td>
		                <td>
		                	{if staff('/admin/boss/audit') }
			                	{eq name="user.status" value="2"}
			                		<a class="btn btn-success btn-sm" href="/admin/boss/audit?username={$user.username}&status=yes">通过</a>
			                		<a class="btn btn-danger btn-sm" href="/admin/boss/audit?username={$user.username}&status=no">拒绝</a>
			                	{/eq}
		                	{/if}
		                	{if staff('/admin/boss/edit') }
		                		<a href="/admin/boss/edit.html?username={$user.username}" class="btn btn-secondary btn-sm">编辑</a>
		                	{/if}
		                </td>
	        		</tr>
	        	{/volist}
	        </tbody>
	    </table>
	</div>
	<div class="card-footer">{$users|raw}</div>
</div>
<div class="modal fade" id="modal-config" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<form method="post" action="/admin/boss/config">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">BOSS配置</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-3">
							<div class="form-group">
				                <label class="form-label">是否开启</label>
				                <label class="custom-switch">
				                	{notempty name="config.enable"}
			                        	<input type="checkbox" name="enable" class="custom-switch-input" checked="true" />
			                        	<span class="custom-switch-indicator"></span>
			                        	<span class="custom-switch-description enable-status">当前开启</span>
			                        {else /}
			                        	<input type="checkbox" name="enable" class="custom-switch-input" />
			                        	<span class="custom-switch-indicator"></span>
			                        	<span class="custom-switch-description enable-status">当前关闭</span>
			                        {/notempty}
		                        </label>
			                </div>
						</div>
						<div class="col">
							<div class="form-group">
								<label class="form-label">模块名称</label>
								<input type="text" class="form-control" name="name" value="{$config.name|default=''}" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label class="form-label">Lv1的权重要求</label>
								<input type="text" class="form-control" name="lv1" value="{$config.lv1|default=''}" />
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label class="form-label">Lv2的权重要求</label>
								<input type="text" class="form-control" name="lv2" value="{$config.lv2|default=''}" />
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label class="form-label">Lv3的权重要求</label>
								<input type="text" class="form-control" name="lv3" value="{$config.lv3|default=''}" />
							</div>
						</div>
					</div>
	                <div class="form-group">
                        <label class="form-label">头衔列表</label>
                        <input type="text" class="form-control" id="input-tags" name="title" value="{$config.title|default=''}" />
                    </div>
                    <div class="form-group">
                    	<label class="form-label">模块介绍</label>
                    	<script id="editor" name="content" type="text/plain" style="height: 20rem;">{$config.content|raw|default=""}</script>
                    </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
					<button type="submit" class="btn btn-primary">保存设置</button>
				</div>
			</form>
		</div>
	</div>
</div>

{/block}
{block name="script"}
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
require(['jquery', 'selectize', 'ZeroClipboard'], function($, selectize, ZeroClipboard){
	window['ZeroClipboard'] = ZeroClipboard;
	$(function(){
		// 实例化编辑器
		var ue = UE.getEditor('editor');
		// 开启状态
		$('input[name=enable]').on('change', function(){
			var bool = $(this).prop('checked');
			$('.enable-status').text(bool ? '当前开启' : '当前关闭');
		});
		// 头衔列表
		$('#input-tags').selectize({
		    delimiter: ',',
		    persist: false,
		    create: function (input) {
		        return {
		            value: input,
		            text: input
		        }
		    }
		});
	});
});
</script>
{/block}